body {
    background-color: tan;
}

.projects {
    background-color: violet;
}

.showBio{
  display: block;
}

.hideBio{
 display: none;
}

.showTechnologies {
    display: block;
}

.hideTechnologies {
    display: none;
}

.showProjects {
    display: block;
}

.hideProjects {
    display: none;
}